.App {
  text-align: center;
}

.divTable{
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}

.divTableRow{
  display: table-row;
}

.divTableHeading{
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableCellnormal,
.divTableCellfire,
.divTableCellwater,
.divTableCellgrass,
.divTableCellelectric,
.divTableCellice,
.divTableCellfighting,
.divTableCellpoison,
.divTableCellground,
.divTableCellflying,
.divTableCellpsychic,
.divTableCellbug,
.divTableCellrock,
.divTableCellghost,
.divTableCelldark,
.divTableCelldragon,
.divTableCellsteel,
.divTableCellfairy,
.divTableCell,
.divTableHead{
  border: 1px solid #999999;
  display: table-cell;
  padding: 6px 13px;
}

.divTableFoot{
  background-color: #eee;
  display: table-footer-group;
}

.divTableBody{
  display: table-row-group;
}

.divTableCell:nth-child(1n){
  background-color: gainsboro;
}

.divTableCellnormal{
  background-color: #A8A77A;
}

.divTableCellfire{
  background-color: #EE8130;
}

.divTableCellwater{
  background-color: #6390F0;
}

.divTableCellgrass{
  background-color: #7AC74C;
}

.divTableCellelectric{
  background-color: #F7D02C;
}

.divTableCellice{
  background-color: #96D9D6;
}

.divTableCellfighting{
  background-color: #C22E28;
}

.divTableCellpoison{
  background-color: #A33EA1;
}

.divTableCellground{
  background-color: #E2BF65;
}

.divTableCellflying{
  background-color: #A98FF3;
}

.divTableCellpsychic{
  background-color: #F95587;
}

.divTableCellbug{
  background-color: #A6B91A;
}

.divTableCellrock{
  background-color: #B6A136;
}

.divTableCellghost{
  background-color: #735797;
}

.divTableCelldark{
  background-color: #705746;
}

.divTableCelldragon{
  background-color: #6F35FC;
}

.divTableCellsteel{
  background-color: #B7B7CE;
}

.divTableCellfairy{
  background-color: #D685AD;
}

.container{
  display: flex;
  opacity: 0.9;
  background-color: #99aaab;
  justify-content: center;
}

img{
  height: 14em;
}

input{
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}

body{
  background-image: url("https://i.imgur.com/V7nV368.jpg");
  background-size: 150%;
}